<div id="header">

<%= form_tag("/main/index", :method => "get", :id => "searchform") do %>
  <%= label_tag(:q, "Look for:") %>
  <%= text_field_tag(:q, @searchquery, :class => 'searchform') %>
 <%= link_to 'SEARCH', "#", :onclick => "$('#searchform').submit()", :class => 'searchbutton' %>
<% end %>




</div>

<div class="spacer"></div>

<%= @doc.css("float_right").text %>

<% if @doc.css(".result_table_row") != 0 %>


<% @doc.css(".result_table_row").each do |item| %>
<div class="resultbox">
<img class="resultimgbox" src="http://catalog.tadl.org/<%= item.at_css(".result_table_pic").attr('src') %>">
<br />
<h2 class="resulttitle"><%= truncate(item.at_css(".bigger").text, :length => 200) %></h2><h3 class="resultauthor"><%= truncate(item.at_css('[@name="item_author"]').text) %></h3>
<br />
<p class="resultabstract">
<%= item.at_css(".result_table_summary").text %>
</p>
<div class="bottomstuff">
<a href class="hold_button" src="#">Place Hold</a>
<a href class="hold_button" src="#">Add to List</a>
<a href class="hold_button" src="#">See More</a>
<div style=" clear: both;"></div>
<p class="resultcount">

<% if item.at_css(".result_count") %>
<%= item.at_css(".result_count").text %>
<% else %>
<% end %>
<br />
<% if item.at_css('[@name="bib_cn_list"]') %>
<%= item.at_css('[@name="bib_cn_list"]').text %>
<% else %>
<% end %>


</p>
</div>



<div style=" clear: both;"></div>
</div>
  
<% end %>

<% else %>
<h1>No Results</h1>
<% end %>