<div id="header">

<%= form_tag("/main/index", :method => "get", :id => "searchform") do %>
<div class="selectgroup">
  <%= label_tag(:q, "SEARCH:",  :class => 'formlabel') %>
  <%= text_field_tag(:q, @searchquery, :class => 'searchform', :value => params[:q]) %>
 <%= link_to 'GO', "#", :onclick => "$('#searchform').submit()", :class => 'formlabel' %>
</div>


<div class="selectgroup">
<%= label_tag(:mt, "FORMATS:", :class => 'formlabel') %>
  <%= select_tag :mt, options_for_select([ "ALL", "BOOKS", "MOVIES", "MUSIC", "VIDEO GAMES" ], @fdefault), :class => 'format_select'  %>
</div>
<div class="selectgroup">
<%= label_tag(:sort, "SORT BY:", :class => 'formlabel') %>
<%= select_tag :sort, options_for_select([ "RELEVANCE", "NEWEST TO OLDEST", "OLDEST TO NEWEST"], @sortdefault), :class => 'format_select'  %>
 </div>
 <div class="selectgroup">
 <%= check_box_tag :avail, true, !!params[:avail] %>
<%= label_tag(:avail, "ONLY SHOW AVAILABLE", :class => 'formlabel') %>
 </div>

<% end %>




</div>

<div class="spacer"></div>
<% if @doc %>

<div id="content">

<div>
<div>
<% @doc.css(".result_table_row").each do |item| %>
<div class="resultbox shadow">
<img class="resultimgbox" src="http://catalog.tadl.org/<%= item.at_css(".result_table_pic").attr('src') %>">
<br />
<h2 class="resulttitle"><img src="http://catalog.tadl.org/<%= item.at_css(".result_table_title_cell img").attr('src')  %>"><%= truncate(item.at_css(".bigger").text, :length => 200) %></h2><h3 class="resultauthor"><%= truncate(item.at_css('[@name="item_author"]').text) %></h3>
<br />
<p class="resultabstract">
<%= item.at_css(".result_table_summary").text  %>
</p>
<div class="bottomstuff">
<a href class="hold_button" src="#">Place Hold</a>
<a class="hold_button iteminfo fancybox.iframe" href="http://catalog.tadl.org/eg/opac/record/<%= item.at_css(".search_link").attr('name').sub!(/record_/, "")  %>">See More</a>
<a href class="hold_button" src="#">Add to List</a>

<div style=" clear: both;"></div>
<p class="resultcount">

<% if item.at_css(".result_count") %>
<%= item.at_css(".result_count").text %>
<% else %>
<% end %>
<br />
<% if item.at_css('[@name="bib_cn_list"]') %>
<%= item.at_css('[@name="bib_cn_list"]').text %>
<% else %>
<% end %>


</p>
</div>



<div style=" clear: both;"></div>
</div>
  
<% end %>
<div id="showmore"></div>


<div style=" clear: both;"></div>



<% if @doc.css(".result_count") %>
<% @doc.css(".search_page_nav_link:not(.invisible)").first(1).each do |navlink| %>
<% navlinktext = navlink.at_css(".nav_arrow_fix:not(.invisible)").text rescue nil%>
<% if navlinktext == "►" %>
<div class="load_more" class="shadow">
<div id="loadmoretext">
<a onclick="loadmore();">LOAD MORE RESULTS</a>
</div>
</div>
</div>



<% else %>
<% end %>
<% end %>
<% else %>
<% end %>


<% else %>
<% end %>

 <script>
 var querytitle = "<%= @cleanquerytitle %>";
 var pagecount = 0;
 function loadmore(){
       pagecount++;  
    $('#loadmoretext').empty().append('<a class="loadmore"><img style="margin-right: 10px; margin-left: 10px;" src="http://empower.swmorey.com/images/ajax-loader-2.gif">LOADING...</a>').trigger("create");    
    $('#loadmoretext').trigger("create");  
   $.get("/main/_showmore/" + pagecount + "/" + querytitle, function(data){$('#showmore').append($(data))}).promise().done(function() {
         $('#loadmoretext').empty().append('<a class="loadmore" onclick="loadmore();">LOAD MORE RESULTS</a>');     
         $('#loadmoretext').trigger("create"); 
      });


  
   }
</script>


   <script type = "text/javascript">
$(document).ready(function() {
	$(".iteminfo").fancybox({
		maxWidth	: 1200,
		maxHeight	: 1000,
		fitToView	: false,
		width		: '90%',
		height		: '90%',
		autoSize	: false,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
		centerOnScroll : 'true'
	});
});


$('.iteminfo').fancybox({
  padding: 0,
  helpers: {
    overlay: {
      locked: false
    }
  }
});
</script>

